/* resets */
* {
    margin: 0;
    padding: 0;
}




/* Body tag style */
body {
    background-color: #000000;
    color: #ffffff;
}

section {
    padding: 10px;
}




/* header tag style */
.header {
    font-size: 190%;
    padding: 20px 15px;
    align-items: center;
    color: white;
    display: flex;
    justify-content: space-between;
}

.logo>span {
    border-radius: 7px;
    padding: 10px;
    font-size: 70%;
    margin-left: 5px;
    border: 1.9px solid wheat;
}

.menu {
    cursor: default;
}

.TOPIC {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 220%;
    margin-top: 60px;
    margin-bottom: 50px;
    height: 120px;
    color: wheat;
}

.TOPIC p {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #101010;
    border-radius: 12px;
    width: 98.5%;
    height: 200px;
    text-align: center;
}




/*content section style*/
#contents>.highlight {
    font-size: 19px;
}

#contents h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

#contents>.highlight a:hover{
    font-size: 22px;
    color: wheat;
}

#contents>.highlight a:active{
    color: white;
}

#contents>.highlight{
    margin-left: 20px;
}





/*link style*/
a {
    text-decoration: none;
    color: #ffffeaa9;
}





/* Rest of body */
#Intro {
    margin-top: 60px;
    font-size: 110%;
}

.grey-headings {
    color: slategrey;
}

#summary-of-what-ive-learnt-in-HTML ol {
    list-style: none;
    padding: 0;
}

#summary-of-what-ive-learnt-in-HTML ol li {
    margin-bottom: 10px;
}

li>strong {
    color: #c1b9a1;
}

#Bonus-Tip-Here {
    background-color: black;
    border: 3px solid #835c2c46;
    border-radius: 7px;
}

#Bonus-Tip-Here ol {
    list-style: none;
    padding: 0;
}

#Bonus-Tip-Here ol>li {
    margin-bottom: 10px;
}


#Conclusion>h4 {
    font-size: 150%;
    color: slategrey;
}

#Conclusion p {
    margin-bottom: 20px;
}





/* Footer Tag Styles */
footer {
    display: flex;
    margin-top: 70px;
    height: 8vh;
    background: #101010;
    align-items: center;
    justify-content: center;
}
